* {
  box-sizing: border-box;
}

.container-general {
  width: 100%;
  height: 100%;
  background-color: #c6f0c6de;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/nutrition.png);
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 128, 0, 0.7); /* Couleur verte semi-transparente */
  height: 70vh; /* Occupe toute la hauteur de la fenêtre */
}

.cont-calculateur {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  max-width: 40%;
  max-height: 500px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
}

.title-profil {
  text-align: center;
  font-size: 24px;
  margin: 20px;
  color: green;
}

.form {
  max-width: 100%;
}

.form-group {
  margin-top: 2px;
  padding-bottom: 20px;
  padding-left: 25%;
}

.form-group-btn {
  display: flex;
  margin: auto;
  padding-bottom: 20px;
  justify-content: space-around;
}

label {
  margin-right: 10px;
}

input {
  max-width: 61px;
  max-height: 25px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #8ebf8e;
}
.input-adresse {
  max-width: 200px;
}
.input-email {
  max-width: 200px;
}
.input-telephone {
  max-width: 107px;
}

input[type="button"],
input[type="submit"] {
  padding: 0 10px;
  font-size: 12px;
  color: #7dc07d;
  text-decoration: none;
  text-align: center;
  max-width: 135px;
  height: 38px;
  cursor: pointer;
  border: 1px solid #7dc07d;
  background-color: #8ebf8e;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: #7dc07d; /* Vert foncé */
  transform: scale(1.05);
}

.details,
.image-selection {
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.image-selection {
  white-space: nowrap;
}

.image-selection img {
  width: auto; /* Réduire la taille des images */
  height: 200px; /* Maintenir le ratio d'aspect */
  margin: 5px; /* Ajouter un espace entre les images */
  cursor: pointer; /* Changer le curseur pour indiquer que l'image est cliquable */
  display: inline-block; /* Assurer que les images sont alignées en ligne */
}

.dropdown-container {
  display: flex;
  align-items: center;
  flex: 1.5;
}

.dropdown-icon {
  background: #ccc;
  cursor: pointer;
}

#weightChartContainer {
  max-width: 600px;
  margin-top: 20px;
}

#emailError {
  margin-top: 10px;
}

@media (max-width: 600px) {
  main {
    height: 90vh;
  }
  .prev,
  .next {
    font-size: 14px;
    padding: 12px;
  }

  .cont-calculateur {
    max-width: 100%;
  }
}
